<p class="strong">All Words</p>

<ul>
  #foreach ($word in $words)
    <li><a href="/words/$word.getId()">$word.getWord()</a></li>
  #end
</ul>

<button type="button" name="button"><a href="/form">New Word</a></button>
<button type="button" name="button"><a href="/dictionary">My Dictionary</a></button>
