
  <p class="center">
    <button type="button" name="button"><a href="/dictionary">My Dictionary</a></button>
    <button type="button" name="button"><a href="/form">New Word</a></button>
    <button type="button" name="button"><a href="/definitions">New Definition</a></button>
  </p>
