<div class="maincontent">
  <div class="whitebox">
    <div class="topbar">
      <p>. . .</p>
    </div>


  <div class="container">
  <div class="">
    <p>
      &nbsp; <br> &nbsp;
    </p>
  </div>
  <p class="center">
    <p>Your word has been saved in the dictionary.</p>
    <button type="button" name="button"><a href="/words">View My Dictionary</a></button>
  </p>
  </div>

  </div>
</div>
