<div class="maincontent">
  <div class="whitebox">
    <div class="topbar">
      <p>. . .</p>
    </div>


  <div class="container">
  <div class="">
    <p>
      &nbsp; <br> &nbsp;
    </p>

    <p class="strong">All Words</p>

    <ul>
      #foreach ($word in $words)
        <li><a href="/words/$word.getId()">$word.getWord()</a></li>
      #end
    </ul>

    <button type="button" name="button"><a href="/form">New Word</a></button>

  </div>

  </div>
</div>
</div>
