<h3>$word.getWord()</h3>

	<ul>
	  #foreach($definition in $word.getDefinitions())
	   <li>$definition.getDefinition()</li>
	  #end
	</ul>

  <p class="center">
    <button type="button" name="button"><a href="/dictionary">My Dictionary</a></button>
    <button type="button" name="button"><a href="/words/$word.getId()/definitions/new">New Definition</a></button>
  </p>
